<div class="support-container">
  <!-- Titles -->
  <h1 class="main-title">
    Google hardware support.<br>
    We’re here to help.
  </h1>

  <p class="subtitle">Quick help</p>

  <!-- Horizontal Cards -->
  <div class="support-cards">
    <div class="product-card">
      <h2>Start a Repair</h2>
      <button class="help-btn">Get started</button>
    </div>
    <div class="product-card">
      <h2>Manage Orders</h2>
      <button class="help-btn">Get started</button>
    </div>
  </div>  
</div>

<h1 class="title">What do you need help with?</h1>

<!-- Horizontal Section -->
<div class="horizontal-section">
  <div class="product-card-section">
    <img src="../../assets/images/google shopping bag.png" alt="Pixel Buds Pro 2" />
  </div>

  <div class="product-card-section">
    <img src="../../assets/images/pixel phones.png" alt="Pixel Buds Pro 2" />
  </div>

  <div class="product-card-section">
    <img src="../../assets/images/pixel watch 4 2.png" alt="Pixel Buds Pro 2" />
 </div>

  <div class="product-card-section">
    <img src="../../assets/images/pixel  buds.png" alt="Pixel Buds Pro 2" />
  </div>

  <div class="product-card-section">
    <img src="../../assets/images/google samrt home.png" alt="Pixel Buds Pro 2" />
  </div>

  <div class="product-card-section">
    <img src="../../assets/images/google fitbit.png" alt="Pixel Buds Pro 2" />
  </div>


  <!-- Repair Container -->
  <div class="repairs-container">
  <!-- Title -->
  <h1 class="repairs-title">Walk in, walk out with<br>same-day repairs.</h1>

  <!-- Description -->
  <p class="repairs-desc">
    Getting support for your Google devices is easy. For same-day repairs on Pixel phones, earbuds, 
    and watches, visit a Google exclusive or priority service centre (available in select cities) 
    and submit your device before 2 pm.
  </p>

  <!-- Service Centres -->
  <div class="service-centres">
    <div class="centre-card">
      <div class="icon yellow">🏢</div>
      <h3>Mumbai Google Exclusive Service Centre</h3>
      <a href="https://www.google.com/maps/place/Google+Exclusive+Service+Centre+(Mumbai)/@19.0683042,72.7922227,13z/data=!4m6!3m5!1s0x3be7c9003ef90e01:0x183d2a4b8193f24f!8m2!3d19.068827!4d72.868502!16s%2Fg%2F11wxjr5yh3?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D">Get directions →</a>
    </div>

    <div class="centre-card">
      <div class="icon yellow">🏢</div>
      <h3>Bangalore Google Exclusive Service Centre</h3>
      <a href="https://www.google.com/maps/place/Google+Exclusive+Service+Centre+(Bangalore)/@12.9738364,77.6203961,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae1700374529d1:0x5f97e42d6588bd37!8m2!3d12.9738364!4d77.6203961!16s%2Fg%2F11wbyfgcng?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D">Get directions →</a>
    </div>

    <div class="centre-card">
      <div class="icon yellow">🏢</div>
      <h3>Delhi Google Exclusive Service Centre</h3>
      <a href="https://www.google.com/maps/place/Google+Exclusive+Service+Centre+-Delhi/@28.5298921,77.2195379,17z/data=!3m1!4b1!4m6!3m5!1s0x390ce1ce82632329:0x605906041f2f4df1!8m2!3d28.5298921!4d77.2195379!16s%2Fg%2F11wbjtv48h?entry=ttu&g_ep=EgoyMDI1MDkyNC4wIKXMDSoASAFQAw%3D%3D">Get directions →</a>
    </div>

    <div class="centre-card">
      <div class="icon red">🏢</div>
      <h3>Priority Service Centres</h3>
      <a href="#">Get directions →</a>
    </div>
  </div>
</div>


  <!-- Support Resources -->
  <div class="Resource-Container">
  <!-- Title -->
  <h1 class="repairs-title">Check out these support resources</h1>
  <!-- img 1-->
   <div>
    <img src="../../assets/images/support resources1.png" alt="support image" />
   </div>

     <!-- img 2-->
   <div>
    <img src="../../assets/images/support resource 2.png" alt="support image" />
   </div>

     <!-- img 3-->
   <div>
    <img src="../../assets/images/support resource 3.png" alt="support image" />
   </div>

     <!-- center cards-->
       <div class="centre-card">
      <i class="fa-solid fa-right-left fa-flip-both"></i>
      <h3>Exchange</h3>
      <p>Get cashback toward your new phone when you exchange your old one.</p>
      <a href="#">Explore →</a>
    </div>

    <div class="centre-card">
    <i class="fa-solid fa-book-open"></i>  
    <h3>Guide Book</h3>
      <p>Explore tips and visual instructions on how to get the most out of your Pixel phone.</p>
      <a href="#">Learn More →</a>
    </div>

    <div class="centre-card">
      <i class="fa-solid fa-star"></i>
      <h3>Pixel Simulator</h3>
      <p>Try out the latest Pixel features to see how you can use them on your Pixel phone.</p>
      <a href="#">Get Started →</a>
    </div>

  <!-- img 1-->
       <div>
    <img src="../../assets/images/google support sources 1.png" alt="support image" />
   </div>

     <!-- img 2-->
   <div>
    <img src="../../assets/images/google support sources 2.png" alt="support image" />
   </div>

     <!-- img 3-->
   <div>
    <img src="../../assets/images/google support source 3.png" alt="support image" />
   </div>

  </div>
</div>


  <!-- Contact US -->
  <h1 class="main-title">Contact Us</h1>

  <p class="subtitle">Choose what you need help with and get connected with the right agent</p>

<div class="horizontal-section">
  <div class="product-card-section">
    <img src="https://www.svgrepo.com/show/521840/shopping-bag.svg" alt="SVG images" />
  </div>

  <div class="product-card-section">
    <img src="../../assets/images/pixel phones.png" alt="SVG images" />
  </div>

  <div class="product-card-section">
    <img src="https://www.svgrepo.com/show/342900/watch.svg" alt="SVG images" />
  </div>

  <div class="product-card-section">
    <img src="https://www.svgrepo.com/show/362802/house-bold.svg" alt="SVG images" />
  </div>

  <div class="product-card-section">
    <img src="https://www.svgrepo.com/show/456251/tablet-pen.svg" alt="SVG images" />
  </div>


    <div class="product-card-section">
    <img src="https://www.svgrepo.com/show/521840/shopping-bag.svg" alt="SVG images" />
  </div>

<!-- footer-->
<footer class="footer">
  <!-- Google Logo Top -->
  <div class="footer-logo">
    <img src="../../assets/images/Google-logo.png" alt="Google Logo"  height="40"/>
    <span>Google Store</span>
  </div>

  <!-- Links Section -->
  <div class="footer-links">
    <div>
      <h4>Orders</h4>
      <ul>
        <li><a href="#">EMI & Cashback</a></li>
        <li><a href="#">Exchange program</a></li>
        <li><a href="#">Payment methods</a></li>
        <li><a href="#">Shipping options</a></li>
        <li><a href="#">Managing an order</a></li>
        <li><a href="#">Country availability</a></li>
      </ul>
    </div>

    <div>
      <h4>Orders</h4>
      <ul>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Repairs</a></li>
        <li><a href="#">Disability Support</a></li>
        <li><a href="#">Fitbit support</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <h4>Sustainability</h4>
      <ul>
        <li><a href="#">Device recycling</a></li>
      </ul>
    </div>
  </div>

  <!-- Bottom section -->
  <div class="footer-bottom">
    <div class="footer-country">
      <img src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg" alt="India" />
      <span>India</span>
    </div>
    <div class="footer-bottom-links">
      <a href="#">Privacy</a>
      <a href="#">Google Nest Commitment to Privacy</a>
      <a href="#">Sales Terms</a>
      <a href="#">Terms of Service</a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</footer>
