<nav class="navbar">
  <div class="navbar-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    
    <!-- Logo -->
    <a routerLink="/" class="logo">
      <img src="../../assets/images/Google-logo.png" alt="Google-logo">
    </a>

    <!-- Menu -->
    <ul class="nav-menu">
      <li><a class="nav-link" routerLink="/phones">Phones</a></li>
      <li><a class="nav-link" routerLink="/earbuds">Earbuds</a></li>
      <li><a class="nav-link" routerLink="/watches">Watches & Trackers</a></li>
      <li><a class="nav-link" routerLink="/accessories">Accessories</a></li>
      <li><a class="nav-link" routerLink="/offers">Offers</a></li>
      <li><a class="nav-link" routerLink="/support">Support</a></li>
    </ul>

    <!-- Right Side Icons -->
    <div class="nav-icons">
      <i class="fas fa-search"></i>   <!-- Search icon -->
      <i class="fas fa-shopping-cart"></i> <!-- Cart icon -->
      <div class="profile">P</div> <!-- Profile circle -->
    </div>
  </div>
</nav>
