<!-- Pixel Cards -->
<div class="pixel-container">
  <div class="pixel-list">
    <div class="pixel-card new">
      <img src="../../assets/images/Pixel 10 pro and pro XL.jpg" alt="Pixel 10 Pro and Pro XL">
      <span class="badge">New</span>
      <p>Pixel 10 Pro and Pro XL</p>
    </div>
    <div class="pixel-card new">
      <img src="../../assets/images/Pixel 10-1.jpg" alt="Pixel 10">
      <span class="badge">New</span>
      <p>Pixel 10</p>
    </div>
    <div class="pixel-card coming">
      <img src="../../assets/images/Pixel 10 pro fold.jpg" alt="Pixel 10 Pro Fold">
      <span class="badge">Coming soon</span>
      <p>Pixel 10 Pro Fold</p>
    </div>
    <div class="pixel-card">
      <img src="../../assets/images/Pixel 9a.jpg" alt="Pixel 9a">
      <p>Pixel 9a</p>
    </div>
    <div class="pixel-card">
      <img src="../../assets/images/Pixel 9 pro and pro XL.jpg" alt="Pixel 9 Pro and Pro XL">
      <p>Pixel 9 Pro and Pro XL</p>
    </div>
    <div class="pixel-card">
      <img src="../../assets/images/Pixel 9.jpg" alt="Pixel 9">
      <p>Pixel 9</p>
    </div>
    <div class="pixel-card">
      <img src="../../assets/images/Compare image.jpg" alt="Compare phones">
      <p>Compare phones</p>
    </div>
    <div class="pixel-card">
      <img src="../../assets/images/Pixel cases.jpg" alt="Pixel cases">
      <p>Pixel cases</p>
    </div>
    <div class="pixel-card">
      <img src="../../assets/images/accessories phones.jpg" alt="Accessories">
      <p>Accessories</p>
    </div>
  </div>
</div>

<!-- Pixel Header -->
<div class="pixel-header">
  <h2>Google Pixel 10 Series</h2>
  <p>Ask more of your phone.</p>
</div>

<!-- Video Section -->
<div class="earbuds-container">
  <h1 class="title">Experience the New Google Pixel Phones</h1>

  <div class="phone-video-container">
    <video autoplay muted loop playsinline>
      <source src="../../assets/images/pixel 10 series.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<!-- Promo Slider -->
<div class="promo-slider-wrapper">
  <div class="promo-slider">
    <!-- Slide 1 -->
    <div class="promo-slide">
      <div class="promo-text">
        <h1>Pixel 10 Pro<br />and Pro XL</h1>
        <p>Meet the new status pro.</p>
        <p class="price">From ₹4,166.62/mo</p>
        <p class="subtext">with <a href="#">no-cost EMI & instant savings</a> or ₹1,09,999</p>
      </div>
      <div class="promo-image">
        <img src="../../assets/images/pixel 10 pro and pro xl promo.png" alt="Pixel 10 Pro and Pro XL">
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="promo-slide">
      <div class="promo-text">
        <h1>Pixel 10</h1>
        <p>Sleek and powerful.</p>
        <p class="price">From ₹3,499.00/mo</p>
        <p class="subtext">with <a href="#">no-cost EMI & instant savings</a> or ₹89,999</p>
      </div>
      <div class="promo-image">
        <img src="../../assets/images/Pixel 10 promo .jpg" alt="Pixel 10">
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="promo-slide">
      <div class="promo-text">
        <h1>Pixel 10 Pro Fold</h1>
        <p>The foldable future.</p>
        <p class="price">From ₹5,499.00/mo</p>
        <p class="subtext">with <a href="#">no-cost EMI & instant savings</a> or ₹1,49,999</p>
      </div>
      <div class="promo-image">
        <img src="../../assets/images/Pixel 10 pro fold promo.jpg" alt="Pixel 10 Pro Fold">
      </div>
    </div>
  </div>
</div>

<!-- footer-->
<footer class="footer">
  <!-- Google Logo Top -->
  <div class="footer-logo">
    <img src="../../assets/images/Google-logo.png" alt="Google Logo"  height="40"/>
    <span>Google Store</span>
  </div>

  <!-- Links Section -->
  <div class="footer-links">
    <div>
      <h4>Orders</h4>
      <ul>
        <li><a href="#">EMI & Cashback</a></li>
        <li><a href="#">Exchange program</a></li>
        <li><a href="#">Payment methods</a></li>
        <li><a href="#">Shipping options</a></li>
        <li><a href="#">Managing an order</a></li>
        <li><a href="#">Country availability</a></li>
      </ul>
    </div>

    <div>
      <h4>Orders</h4>
      <ul>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Repairs</a></li>
        <li><a href="#">Disability Support</a></li>
        <li><a href="#">Fitbit support</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <h4>Sustainability</h4>
      <ul>
        <li><a href="#">Device recycling</a></li>
      </ul>
    </div>
  </div>

  <!-- Bottom section -->
  <div class="footer-bottom">
    <div class="footer-country">
      <img src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg" alt="India" />
      <span>India</span>
    </div>
    <div class="footer-bottom-links">
      <a href="#">Privacy</a>
      <a href="#">Google Nest Commitment to Privacy</a>
      <a href="#">Sales Terms</a>
      <a href="#">Terms of Service</a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</footer>
