<div class="earbuds-page">

  <!-- Page Title -->
  <h1 class="title">Earbuds that sound great, all around.</h1>

  <!-- Product Section -->
  <div class="product-container">

    <!-- Pixel Buds Pro 2 -->
     
    <a href="https://store.google.com/in/product/pixel_buds_pro_2?hl=en-IN" target="_blank">
      <div class="product-card">
        <div class="tag">New</div>
        <img src="/assets/images/pixel_buds_2a.png" alt=" image Pixel Buds Pro 2">
        <p class="product-name">Pixel Buds Pro 2</p>
      </div>
    </a>

    <!-- Pixel Buds 2a -->
    <a href="https://store.google.com/in/product/pixel_buds_2a?hl=en-IN" target="_blank">
      <div class="product-card">
        <div class="tag">Coming soon</div>
        <img src="/assets/images/pixel pro 2 BUDS.png" alt=" image Pixel Buds 2a">
        <p class="product-name">Pixel Buds 2a</p>
      </div>
    </a>

    <!-- Compare Earbuds -->
    <a href="https://store.google.com/in/category/earbuds?hl=en-IN" target="_blank">
      <div class="product-card">
        <img src="assets/images/compare-earbuds.png" alt="Compare Earbuds">
        <p class="product-name">Compare Earbuds</p>
      </div>
    </a>

  </div>
</div>
