<div class="offers-page">
  <!-- Title -->
  <h1 class="title">Shop the latest deals.</h1>

  <!-- Categories -->
  <div class="categories">
    <button class="active">All offers</button>
    <button>Cricket Deals</button>
    <button>Phones</button>
    <button>Watches & Trackers</button>
    <button>Earbuds</button>
  </div>

  <!-- Sort + Offers Info -->
  <div class="offers-header">
    <span>16 offers</span>
    <div class="sort">
      <label>Sort by Relevance</label>
      <select>
        <option value="relevance"></option>
        <option value="relevance">Relevance</option>
        <option value="priceLow">Ending Soon</option>
        <option value="priceHigh">Price: low to high</option>
        <option value="priceHigh">Price: High to Low</option>
      </select>
    </div>
  </div>

    
  <!-- Product Grid -->
  <div class="offers-grid">
    <!-- Card 1 -->
    <div class="offer-card">
      <img src="assets/images/pixel8-1.png" alt="Pixel 8 Offer">
    </div>
    <!-- Card 2 -->
    <div class="offer-card">
      <img src="assets/images/pixel8-2.png" alt="Pixel 8 Offer">
    </div>
    <!-- Card 3 -->
    <div class="offer-card">
      <span class="badge">New</span>
      <img src="assets/images/pixel8-3.png" alt="Pixel 8 Offer">
    </div>
  </div>
</div>


<!-- footer-->
<footer class="footer">
  <!-- Google Logo Top -->
  <div class="footer-logo">
    <img src="../../assets/images/Google-logo.png" alt="Google Logo"  height="40"/>
    <span>Google Store</span>
  </div>

  <!-- Links Section -->
  <div class="footer-links">
    <div>
      <h4>Orders</h4>
      <ul>
        <li><a href="#">EMI & Cashback</a></li>
        <li><a href="#">Exchange program</a></li>
        <li><a href="#">Payment methods</a></li>
        <li><a href="#">Shipping options</a></li>
        <li><a href="#">Managing an order</a></li>
        <li><a href="#">Country availability</a></li>
      </ul>
    </div>

    <div>
      <h4>Orders</h4>
      <ul>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Repairs</a></li>
        <li><a href="#">Disability Support</a></li>
        <li><a href="#">Fitbit support</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <h4>Sustainability</h4>
      <ul>
        <li><a href="#">Device recycling</a></li>
      </ul>
    </div>
  </div>

  <!-- Bottom section -->
  <div class="footer-bottom">
    <div class="footer-country">
      <img src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg" alt="India" />
      <span>India</span>
    </div>
    <div class="footer-bottom-links">
      <a href="#">Privacy</a>
      <a href="#">Google Nest Commitment to Privacy</a>
      <a href="#">Sales Terms</a>
      <a href="#">Terms of Service</a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</footer>
